@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
  --yellow: hsl(47, 88%, 63%);
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--yellow);
  color: var(--gray-950);
}

.container {
  display: grid;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 2.4rem;
  gap: 2.4rem;
  width: 38.4rem;
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-radius: 1rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .card-badge {
    background-color: var(--yellow);
    color: var(--gray-950);
    font-weight: bold;
    padding-inline: 1.2rem;
    padding-block: 0.8rem;
    border-radius: 0.4rem;
    width: fit-content;
  }

  .card-published-date {
    color: var(--gray-500);
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 500;
  }

  .card-title {
    font-size: 2.4rem;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 800;
  }

  .card-description {
    color: var(--gray-500);
    line-height: 150%;
  }

  .card-author {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    .card-avatar {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }

    .card-author-name {
      font-weight: 800;
      font-size: 1.4rem;
    }
  }
}
